.App {
    background-color: #fafafa;
    text-align: center;
    min-height: 100vh;
}

.create-post h1 {
    margin: 0px;
    padding: 22px;
}

.create-post form, .edit-post form {
    background-color: #eaffd6;
    padding: 20px 0px;
    border-bottom: 2px dashed #ccc;
    border-top: 2px dashed #ccc;
}

.create-post input, .create-post textarea {
    width: 60%;
    padding: 10px 15px;
    font-size: 18px;
    border: 1px dashed #ccc;
}

.create-post textarea {
    font-size: 16px;
}

input:focus, textarea:focus {
    outline: none;
}

button {
    width: 80px;
    padding: 6px 10px;
    margin: 0px 5px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}


.all-posts {
    padding: 40px 0px;
}

.post {
    width: 80%;
    margin: 0 auto;
    padding-top: 1px;
    padding-bottom: 20px;
    background-color: #f1f1fd;
    border-radius: 20px;
    margin-bottom: 22px;
}

.post p {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: left;
}

.edit-post form {
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #d6fff8;
    width: 80%;
}

.edit-post input, .edit-post textarea {
    width: 60%;
    padding: 10px 15px;
    font-size: 18px;
    border: 1px dashed #ccc;
}